
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG" parallel="tests">
    <test name="test-1" >
        <classes>
            <class name="Smoketests.smoke1"/>
        </classes>
    </test>

    <test name="test-2">
        <classes>
            <class name="Smoketests.smoke2"/>

        </classes>
    </test>
</suite>
